<h1>Livros</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nota Media</th>
            <th>Locações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let livro of livros">
            <td>{{livro.nome}}</td>
            <td>{{livro.estatistica.media}}</td>
            <td>{{livro.estatistica.total}}</td>
        </tr>
    </tbody>
</table>

<h1>Avaliacoes</h1>

<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nota</th>
            <th>Estado de Conservacao</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avaliacao of avaliacoes">
            <td>{{avaliacao.usuario.nome}}</td>
            <td>{{avaliacao.nota}}</td>
            <td>{{avaliacao.estadoConservacao}}</td>
        </tr>
    </tbody>
</table>